.map-container {
    height: 500px;
}

.leaflet-shadow-pane {
    display: none !important;
}

.leaflet-control-zoom>a>span {
    color: black !important;
}

.leaflet-control-attribution>a, .leaflet-control-attribution>span {
    color: black !important;
}
