.map-container {
    height: 500px;
}

.leaflet-shadow-pane {
    display: none !important;
}

.leaflet-control-zoom>a>span {
    color: black !important;
}

.leaflet-control-attribution>a, .leaflet-control-attribution>span {
    color: black !important;
}

body {
    background-image: linear-gradient(90deg, #1d647b, #43467d, #a6225d) !important;
}
